*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
}
form{
    background-color: #ffffff;
    padding: 20px 3% 20px 3%;
    margin: 3% 38% 0% 32%;
}
h3{
    font-size: 25px;
    color: #1d6e43;
    font-family: sans-serif;
}
#numberone{
    border: 2px solid #31b471;
    height: 60px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
}
#numbertwo,#numberthree,#numberfour{
    height: 60px;
    width: 80px;
    border: none;
    background-color: #eef4e0;
    text-align: center;
    border-radius: 5px;
}
#numberone,#numbertwo,#numberthree,#numberfour:focus{
    outline-color: #31b471;
}
input[type="submit"] {
    width: 95%; 
    height: 50px; 
    background-color: #31b471;
    border: none;
    color: #ffffff;
    margin-top: 15px;
    border-radius: 5px;
}
.resend{
    text-align: right;
    padding-right: 20px;
}
#output{
    text-align: center;
    color: red;
    font-weight: bolder;
}
.green{
    background-color: #206e46;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    position: relative;
    bottom: 200px;
    right: 70px;
}
footer{
    background-color: #206e46;
    margin-top:80px;
    padding: 15px;
    display: flex;
}
.footertext{
    color: white;
    flex: 90%;
    padding-left: 80px;
}
.socialmediaicons{
    flex: 10%;
    padding-right: 80px;
}
.socialmediaicons a{
    margin: 5px;
    background-color: white;
    color: #206e46;
    padding: 8px;
    border-radius: 50px;
}

@media screen and (max-width:992px){
    form{
        padding: 20px 40px 20px 40px;
        margin: 5% 15% 0% 15%;
    }
    input[type="submit"] {
        width: 90%; 
        height: 50px; 
    }
    .resend{
        padding-right: 60px;
    }
    footer{
        margin-top: 90px;
        padding: 10px;
    }
    .footertext{
        padding-left: 30px;
    }
    .socialmediaicons a{
        padding: 5px;
    }
}
@media screen and (max-width: 600px) {
    form {
        padding: 1.5rem 3rem;
        margin: 8% 10%;
    }
    #numberone,#numbertwo,#numberthree,#numberfour{
        width: 70px;
    }
    input[type="submit"]{
        width: 100%;
    }
    footer {
        margin-top:2.5rem;
        padding: 0.8rem;
    }
    .footertext{
        font-size: 12px;
        padding-left: 5px;
        padding-top: 5px;
        flex: 95%;
    }
    .socialmediaicons{
       padding-right: 20px;
       flex: 5%;
    }
    .socialmediaicons a{
        padding: 5px;
    }

}