*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
}
form{
    background-color: #ffffff;
    padding: 20px 40px 20px 40px;
    margin: 2% 35% 0% 35%;
    animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
h3{
    font-size: 25px;
    color: #1d6e43;
    font-family: sans-serif;
}
p{
    color: #b3b3b3;
}
#firstname,#lastname,#email,#phonenumber,#createpassword,#confirmpassword{
    width: 100%; 
    height: 40px; 
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
}
input[type="submit"] {
    width: 100%; 
    height: 40px; 
    background-color: #31b471;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}
.green{
    background-color: #206e46;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    position: relative;
    bottom: 480px;
    right: 70px;
}

footer{
    background-color: #206e46;
    padding: 10px;
    display: flex;
}
.footertext{
    color: white;
    flex: 90%;
    padding-left: 80px;
}
.socialmediaicons{
    flex: 10%;
    padding-right: 80px;
}
.socialmediaicons a{
    margin: 5px;
    background-color: white;
    color: #206e46;
    padding: 8px;
    border-radius: 50px;
}
@media screen and (max-width:992px){
    form{
        padding: 20px 40px 20px 40px;
        margin: 5% 20% 0% 20%;
    }
    .green{
        position: relative;
        bottom: 200px;
        right: 80px;
    }
    footer{
        padding: 10px;
    }
    .footertext{
        padding-left: 30px;
    }
    
}
@media screen and (max-width:600px){
    form{
        padding: 20px 40px 20px 40px;
        margin: 10% 15% 0% 15%;
    }
    .green{
        position: relative;
        bottom: 400px;
        right: 80px;
    }
    footer{
        margin-top: 0%;
        padding: 10px;
    }
    .footertext{
        font-size: 12px;
        padding-left: 5px;
        padding-top: 5px;
        flex: 95%;
    }
    .socialmediaicons{
       padding-right: 20px;
       flex: 5%;
    }
    .socialmediaicons a{
        padding: 3px;
    }

}